body{
    margin: 0;
    line-height: 24px;
    font-family: Open Sans,sans-serif;
}

h1{
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0;
}

h3{
    font-size: 19px;
    color: #121212;
    font-weight: normal;
}

p{
    margin: 00 0 1.25rem;
}

header{
    text-align: center;
    line-height: 10px;
}

.container{
    margin: auto;
    width: 80%;
    position: relative;
}

.faixa-superior{
    background-color: #B0150B;
    color: #c7c7c7;
    font-size: 11px;
    padding: 5px 0 0px 0;
    height: 15px;
}

.cabecalho{
    background-color: #C4170C;
    color: #FFF;
}

.autor{
    color: #777777;
    font-weight: 700;
}

.data{
    color: #999;
    font-weight: 300;
}

.conteudo{
    width: 70%;
    margin-left: 20%;
}

.publicidade{
    width: 70%;
    margin-left: 20%;
}

hr {
    border: 0;
    border-top: 1px solid #CCC;
    overflow: visible;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    font-size: 7px;
  }
  
hr::after {
    content: "CONTINUA DEPOIS DA PUBLICIDADE";
    color: #999;
    display: inline-block;
    position: relative;
    top: -1.25em;
    font-size: 1.4em;
    padding: 0 0.3em;
    background-color: #FFF;
  }

.area-comentario{
    background-color: rgb(230, 230, 230);
    padding: 5%;
}